<div class="login-register-container">
  <h2>{{ isLoginMode ? 'Iniciar sesión' : 'Registro de usuario' }}</h2>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <!-- Nombre solo en registro -->
    <div *ngIf="!isLoginMode" class="form-group">
      <label for="name">Nombre</label>
      <input
        id="name"
        name="name"
        type="text"
        required
        [(ngModel)]="name"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        required
        [(ngModel)]="email"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input
        id="password"
        name="password"
        type="password"
        required
        [(ngModel)]="password"
        class="form-control"
      />
    </div>

    <button
      type="submit"
      class="btn"
      [ngClass]="isLoginMode ? 'btn-primary' : 'btn-success'"
      [disabled]="form.invalid"
    >
      {{ isLoginMode ? 'Entrar' : 'Registrar' }}
    </button>
  </form>

  <p class="toggle-text">
    {{ isLoginMode ? '¿Aún no tienes cuenta?' : '¿Ya tienes cuenta?' }}
    <a (click)="toggleMode()">
      {{ isLoginMode ? 'Regístrate' : 'Iniciar sesión' }}
    </a>
  </p>
</div>
